<div class = "container">
	 <div id="pagecontent">
		<table  size="1000">
			<tr>
				<td>
					<%= image_tag("marck.png", :alt => "#", :class => "round" , :width => "500", :heigth => "500") %>
					
				</td>
				<tr>
					<td>
						<center> MARCK BIOSCIENCE PVT.LTD.</center>
					</td>
					
			    </tr>
			</tr>
		</table>
		<table>
			<tr>
				<td>
					<div class = "well">
	 					<%=Time.now()%>
	 				</div>
	       		</td>
	       	</tr>
	       </table>
	       <table size = "1000">
	       	<tr>
 				<td><div class= "span4">
 					<h4><b>Purchase From:</b></h4>
	       	       
	       	       	<div class = "well">
	       	       		
							<%= image_tag("logo.png", :alt => "#", :class => "round" , :width => "20") %><b>Marck Bioscience pvt.ltd</b><br />

 							Plot no: 876,N.H.no.8, <br />      
 							Hariyala, Kheda<br />
 							Gujarat,India<br />
 							Phone: +91 2694 304000<br />
 							Fax: +91 2694 304050<br />
 						</div>
          	       	</div>
	          </td>
	          <td><div class="span4">
	          	<h4><b>Deliver To :</b></h4>
	       	       	
	       	       	<div class = "well">
	       	       	
							<%= image_tag("logo.png", :alt => "#", :class => "round" , :width => "20") %><b>Marck Bioscience pvt.ltd</b><br />

 							Plot no: 876,N.H.no.8, <br />      
 							Hariyala, Kheda<br />
 							Gujarat,India<br />
 							Phone: +91 2694 304000<br />
 							Fax: +91 2694 304050<br />
 						</div>
          	       	</div>
	          </td>
				


	      			
	   		</tr>

	   		
	   		
	   	</table>
	   
	   		<div class="span6">
	   		<h4><i class="fa fa-briefcase"></i>PURCHASE ORDER</h4>
	   		
	   		<div class = "well">
          <table size = "1000">         
          <tr>
          	<td><i class="fa fa-flag"></i>
          		PO NO#
          	</td>
          	
          </tr>
          <tr>
          	<td><i class="fa fa-male"></i>
          		EMPLOYEE_NAME
          	</td>
          	
          </tr>	
          <tr>
          	<td><i class="fa fa-pencil-square-o"></i>
          		DATE
          	</td>
          	

          </tr>
          <tr>
          	<td><i class="fa fa-credit-card"></i>
          		CREDIT TERMS
          	</td>
          	

          </tr>
      </table>
     
      </div>
 
      
     </div>
 
	   	<table>
	   		<tr>
	   			<td>
	   				<div class = "container">
	   			<div class = "span12 well">
	   				Replications
	   			</div>
	   		</div>
	   			</td>
	   		</tr>	
		</table>
		<br/>
		<table size = "1000">
			<tr>
				<td>
					<b>
					TERMS AND CONDITIONS:
				   </b>
				</td>
			</tr>
			<tr>
				<td>
					<b>1.Delivery :</b> All goods must be received within 14days from the date of PO
				</td>
			</tr>
			<tr>
				<td>
					
				   <b>2.Conditions :</b> We reserved the right to reject the goods that are not in good order or condition as
				                determined our quality control
				    
				 </td>
				</tr>

		</table>
		<br/>
		<table>
			<tr>
				<td>
					APPROVED BY:_______________
				</td>
				<td></td><td></td><td></td><td></td>
				<br/>
				<td>
					PREPARED BY:_______________
				</td>
			</tr>
		</table>
		<br/>
		<br/>
	</div>
		<table>
			<tr>
	 		
	 			<td>
 			
 				<button type="button" class="btn btn-primary">SEND</button>
 				<button type="button" class="btn btn-danger">CANCEL</button>
 				<button id= "print" type="button" class="btn btn-success" onclick="Print();">PRINT</button>
				</td>
			</tr>
		</table>
	</div>


